<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="ISO-8859-1">
		<title>Warning:: ERROR</title>
	</head>
	<body style="margin-top: 100px; text-align: center; border: 1px solid red; padding-bottom: 50px;">
		<h1>Something Went Wrong!</h1>
		<p>This is a custom Error Page, picked up by the default Spring Boot's BasicErrorController.</p>
		<a href="https://www.baeldung.com/spring-boot-custom-error-page">If you would like to set up a custom error page with specific logic, click here</a>
	</body>
</html>